{{> util/svgsprite}}

<textarea class="js-copyarea" style="opacity: 0"></textarea>
<br>
<strong class="js-output" style="display: block; width: 100%; text-align: center; margin-botton: 20px;">&nbsp;</strong>
<div class="svg-list">
	<div class="svg-item svg-item--stroke">
		<svg><use xlink:href="#menu-alt" /></svg>
		<div class="svg-name js-svg-name">#menu-alt</div>
	</div>

	<div class="svg-item svg-item--stroke">
		<svg><use xlink:href="#folder" /></svg>
		<div class="svg-name js-svg-name">#folder</div>
	</div>

	<div class="svg-item svg-item--stroke">
		<svg><use xlink:href="#filter" /></svg>
		<div class="svg-name js-svg-name">#filter</div>
	</div>
</div>




