 		<footer id="footer" class="footer">
			<div class="footer--container">
				<div class="footer__content">
						<div class="links-toggle">
							<span>Links</span>
							<svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-down"></use></svg>
						</div>
						<div class="footer__links">
							<ul>
								<li><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg><a href="#">Home</a></li>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Latest Announcement</a></li>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Ask A Question</a></li>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Report A Leak/Problem</a></li>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Contact</a></li>
							</ul>
							<ul>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Your Account</a></li>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Register Your Account</a></li>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Managing Your Account</a></li>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Paying Your Bill</a></li>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Reading Your Meter</a></li>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Moving Home</a></li>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Reporting A Problem</a></li>
							</ul>
							<ul>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>About Us</a></li>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Press & Media</a></li>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Our Projects</a></li>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Why Choose Us</a></li>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Accreditations</a></li>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Environment</a></li>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Current Vacancies</a></li>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Resources</a></li>
							</ul>
							<ul>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Business</a></li>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Sustainability</a></li>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Our Projects</a></li>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Our Services</a></li>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Working with Us</a></li>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Contact/Enquiry</a></li>
							</ul>
							<ul>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Terms of Use</a></li>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Data, Cookies & Privacy Policy</a></li>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Give Us Your Feedback</a></li>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Sitemap</a></li>
							</ul>
						</div>
						<div class="footer__copyright">
							<span>County Water House, 52 Camp Road, Upper Heyford, Bicester, OX25 5HD • Registration No. 09876 54321</span>
							<a href="#">Website Design & Build by Servon Design</a>
						</div>
				</div>
			</div>
		</footer>

		<div class="bg-pattern"></div>

	</div>
	<!-- scripts
	================================================== -->
	<script src="/resources/js/dist/main.min.js"></script>

</body>

</html>