<section id="page-hero" class="hero">
	<div class="hero--container">
		<div class="hero__content">
			<div class="hero__image">
			  <img src="/resources/imgs/hero-placeholder.png" alt="placeholder"/>
			</div>
			<div class="hero__slider__container">
				<div class="hero-slider">
					<div class="hero__slider__item">
						<h1>How much are you using?</h1>
						<p>Switching to have a meter may save you money as you only pay for the water you use. <span>Both your water and sewerage charges will be calculated on the meter readings. Fitting will normally be free of charge for domestic (household) customers.</span></p>
					</div>
					<div class="hero__slider__item">
						<h1>How much are you using?</h1>
						<p>Switching to have a meter may save you money as you only pay for the water you use. <span>Both your water and sewerage charges will be calculated on the meter readings. Fitting will normally be free of charge for domestic (household) customers.</span></p>
					</div>
					<div class="hero__slider__item">
						<h1>How much are you using?</h1>
						<p>Switching to have a meter may save you money as you only pay for the water you use. <span>Both your water and sewerage charges will be calculated on the meter readings. Fitting will normally be free of charge for domestic (household) customers.</span></p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>