
  <div class="colours">
  	<div class="textcolor"></div>
  </div>

  <div class="colours">
  	<div class="green"></div>
  </div>

  <div class="colours">
  	<div class="blue-light"></div>
  </div>

  <div class="colours">
  	<div class="blue-green"></div>
  </div>

  <div class="colours">
  	<div class="blue"></div>
  </div>

  <div class="colours">
  	<div class="blue-dark"></div>
  </div>

  <div class="colours">
  	<div class="blue-darkest"></div>
  </div>

  <div class="colours">
  	<div class="pink-dark"></div>
  </div>

  <div class="colours">
  	<div class="red"></div>
  </div>

  <div class="colours">
  	<div class="orange"></div>
  </div>

  <div class="colours">
  	<div class="black"></div>
  </div>
