<div class="sidebar previous-post__list">
	<header class="sidebar__header">
		<div class="sidebar__icon">
			<svg><use xlink:href="#menu-alt" /></svg>
		</div>
		<span class="sidebar__header-title">Previous Blog Posts</span>
	</header>
	<div class="previous-post__item">
		<div class="sidebar__item__icon sidebar__item__icon--first"></div>
		<a href="#" class="previous-post__item-content">
			<h5 class="previous-post__item-title">Bluehost Open Sources Scripts used to update WordPress websites</h5>
			<p>Bluehost have recently open sourced their in-house script that can be used to automatically update WordPress...</p>
		</a>
		<div class="meta meta--small">
			<span class="meta__item"><b>by: <em class="meta__item--author">Kevin Williams</em></b></span>
			<span class="meta__item"><em>2 days ago</em></span>
		</div>
	</div>
	<div class="previous-post__item">
		<div class="sidebar__item__icon"></div>
		<a href="#" class="previous-post__item-content">
			<h5 class="previous-post__item-title">Sit Cursus Etiam Ridiculus Malesuada1</h5>
			<p>Nullam quis risus eget urna mollis ornare vel eu leo. Donec id elit non mi porta gravida at eget metus....</p>
		</a>
		<div class="meta meta--small">
			<span class="meta__item"><b>by: <em class="meta__item--author">Kevin Williams</em></b></span>
			<span class="meta__item"><em>2 days ago</em></span>
		</div>
	</div>
	<div class="previous-post__item">
		<div class="sidebar__item__icon"></div>
		<a href="#" class="previous-post__item-content">
			<h5 class="previous-post__item-title">Morbi leo risus, porta ac consectetur ac</h5>
			<p>Donec ullamcorper nulla non metus auctor fringilla. Cras mattis consectetur purus sit amet fermentum. Maece...</p>
		</a>
		<div class="meta meta--small">
			<span class="meta__item"><b>by: <em class="meta__item--author">Kevin Williams</em></b></span>
			<span class="meta__item"><em>2 days ago</em></span>
		</div>
	</div>
</div>