<div class="sidebar sidebar__bands">
	<header class="sidebar__header">
		<div class="sidebar__icon">
			<svg><use xlink:href="#folder" /></svg>
		</div>
		<span class="sidebar__header-title">Archives</span>
	</header>
	<a href="#" class="sidebar__item-btn">
		<div class="sidebar__item__icon"></div>
		<div class="sidebar__item-title">January - February</div>
		<div class="sidebar__item-count">21</div>
	</a>
	<a href="#" class="sidebar__item-btn">
		<div class="sidebar__item__icon"></div>
		<div class="sidebar__item-title">March - April</div>
		<div class="sidebar__item-count">8</div>
	</a>
</div>

<div class="sidebar sidebar__bands">
	<header class="sidebar__header">
		<div class="sidebar__icon">
			<svg><use xlink:href="#filter" /></svg>
		</div>
		<span class="sidebar__header-title">CatEgories</span>
	</header>
	<a href="#" class="sidebar__item-btn">
		<div class="sidebar__item__icon"></div>
		<div class="sidebar__item-title">Orange</div>
		<div class="sidebar__item-count">21</div>
	</a>
	<a href="#" class="sidebar__item-btn">
		<div class="sidebar__item__icon"></div>
		<div class="sidebar__item-title">Red</div>
		<div class="sidebar__item-count">8</div>
	</a>
</div>
