{{> util/svgsprite}}

<main class="blog">
	<article class="blog__details">
		<img class="image" src="/resources/imgs/tmp-image-large.jpg">

		<h1>Bluehost Open Sources Scripts used to update WordPress websites</h1>

		<div class="meta meta--inline">
			<span class="meta__item"><b>by: <em class="meta__item--author">Kevin Williams</em></b></span>
			<span class="meta__item"><em>2 days ago</em></span>
			<span class="meta__item"><em>Categories: Oranges</em></span>
		</div>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis recusandae rerum facere consectetur neque dolorum accusantium. Cupiditate dolorum, perspiciatis voluptate esse numquam, eveniet quis aut illo, quo labore laboriosam quod.</p>

		<figure class="figure figure--caption-right">
			<div class="figure__image">
				<div class="ratio--3-2">
					<img src="/resources/imgs/tmp-image.jpg">
				</div>
			</div>
			<figcaption class="figure__caption">
				<p><q>“Hosting that many images is not cheap and we are constantly improving Pexels. So it would be awesome if you support us with a few dollars.”</q></p>
			</figcaption>
		</figure>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis recusandae rerum facere consectetur neque dolorum accusantium. Cupiditate dolorum, perspiciatis voluptate esse numquam, eveniet quis aut illo, quo labore laboriosam quod.</p>
	
		<img class="image--inline" src="/resources/imgs/tmp-image.jpg">

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis recusandae rerum facere consectetur neque dolorum accusantium. Cupiditate dolorum, perspiciatis voluptate esse numquam, eveniet quis aut illo, quo labore laboriosam quod.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis recusandae rerum facere consectetur neque dolorum accusantium. Cupiditate dolorum, perspiciatis voluptate esse numquam, eveniet quis aut illo, quo labore laboriosam quod.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis recusandae rerum facere consectetur neque dolorum accusantium. Cupiditate dolorum, perspiciatis voluptate esse numquam, eveniet quis aut illo, quo labore laboriosam quod.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis recusandae rerum facere consectetur neque dolorum accusantium. Cupiditate dolorum, perspiciatis voluptate esse numquam, eveniet quis aut illo, quo labore laboriosam quod.</p>

		<img class="image--inline image--right" src="/resources/imgs/tmp-image.jpg">

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis recusandae rerum facere consectetur neque dolorum accusantium. Cupiditate dolorum, perspiciatis voluptate esse numquam, eveniet quis aut illo, quo labore laboriosam quod.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis recusandae rerum facere consectetur neque dolorum accusantium. Cupiditate dolorum, perspiciatis voluptate esse numquam, eveniet quis aut illo, quo labore laboriosam quod.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis recusandae rerum facere consectetur neque dolorum accusantium. Cupiditate dolorum, perspiciatis voluptate esse numquam, eveniet quis aut illo, quo labore laboriosam quod.</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis recusandae rerum facere consectetur neque dolorum accusantium. Cupiditate dolorum, perspiciatis voluptate esse numquam, eveniet quis aut illo, quo labore laboriosam quod.</p>
	</article>
	{{> blog/c_sidebar}}
</main>