{{> head}}

{{> flyout-nav}}
<div id="my-wrapper" class="page-wrapper">
	{{> svg}}
	{{> header}}
	{{> alert}}
	{{> hero}}

	<section id="main-content" class="main-section">
			<div class="main--container">
				<div class="page-sidebar">
					<div class="portlet portlet-account portlet-main portlet-blue-green">
						<div class="portlet__container">
							<div class="portlet__content">
								<h3 class="portlet__title">About Your Water</h3>
								<ul>
									<li>
										<a href="#">
											<svg>
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use>
											</svg>Home</a>
									</li>
									<li>
										<a href="#">
											<svg>
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use>
											</svg>Latest Announcment</a>
									</li>
									<li>
										<a href="#">
											<svg>
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use>
											</svg>Ask A Question</a>
									</li>
									<li>
										<a href="#">
											<svg>
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use>
											</svg>Report A Leak/Problem</a>
									</li>
									<li>
										<a href="#">
											<svg>
												<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use>
											</svg>Contact</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
					<a href="#" class="portlet portlet-pink">
						<div class="portlet__container">
							<div class="portlet__content">
								<h3 class="portlet__title">Report a problem</h3>
							</div>
							<div class="portlet__icon">
								<svg>
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#alert"></use>
								</svg>
							</div>
						</div>
					</a>
					<a href="#" class="portlet portlet-blue">
						<div class="portlet__container">
							<div class="portlet__content">
								<h3 class="portlet__title">Ask a questions</h3>
							</div>
							<div class="portlet__icon">
								<svg>
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#quotes"></use>
								</svg>
							</div>
						</div>
					</a>
					<a href="#" class="portlet portlet-moving portlet-orange">
						<div class="portlet__container">
							<div class="portlet__content">
								<h3 class="portlet__title">Moving home?</h3>
								<p class="portlet__description">
									Moving house? You can inform us of a change of address online
									<svg>
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use>
									</svg>
								</p>
							</div>
							<div class="portlet__icon">
								<svg>
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
								</svg>
							</div>
						</div>
					</a>
				</div>
				<div class="page-content">
					<div class="content__image">
						<div class="ratio--16-9">
							<img src="/resources/imgs/tmp-image-large.jpg" alt="placeholder" />
						</div>
					</div>
					<div class="content__body">
						<div class="main__content">
							<div class="portlet portlet-main-content">
								<div class="portlet__container">
									<div class="portlet__content">
										<h2>Water Quality</h2>
										<h4>As your local water company we are committed to supplying high quality drinking water 24 hours a day, 365 days a year and providing an excellent service to our customers. Our treatment facilities use the latest technology and sophisticated monitoring systems to ensure we continually provide water of a high standard when you turn on your tap</h4>
										<p>Our dedicated operations staff and water quality experts work around the clock to ensure that the water is safe to drink. We sample and analyse the water we supply at all stages of the process to make sure that it meets the stringent quality standards set in the Water Supply (Water Quality) Regulations 2000 (as amended).</p>
										<p>In 2014 99.97% of the 174,000 tests taken as part of our regulatory monitoring programme on water leaving treatment works, at service reservoirs and at customers’ taps complied with the standards confirming that your drinking water quality continues to be of a very high standard. Our Mean Zonal Compliance performance (the measure used by the drinking water quality Regulator, the Drinking Water Inspectorate [DWI]) was also 99.97%.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="main__subcontent">
							<div class="portlet portlet-blue-green">
								<div class="portlet__container">
									<div class="portlet__content">
										<h3 class="portlet__title">Water Hardness</h3>
										<p class="portlet__description">
											All of the water we supply is classed as either hard or very hard. Water hardness is a natural feature and is a result of the geology of...
										</p>
										<a href="#"><span>Find out More </span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg></a>
									</div>
									<div class="portlet__icon">
										<svg>
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#drop"></use>
										</svg>
									</div>
								</div>
							</div>
							<div class="portlet portlet-blue">
								<div class="portlet__container">
									<div class="portlet__content">
										<h3 class="portlet__title">Water Regulations</h3>
										<p class="portlet__description">
											All of the water we supply is classed as either hard or very hard. Water hardness is a natural feature and is a result of the geology of...
										</p>
										<a href="#"><span>Find out More </span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg></a>
									</div>
									<div class="portlet__icon">
										<svg>
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#drop"></use>
										</svg>
									</div>
								</div>
							</div>
							<div class="portlet portlet-blue-dim">
								<div class="portlet__container">
									<div class="portlet__content">
										<h3 class="portlet__title">Water Pressure</h3>
										<p class="portlet__description">
											All of the water we supply is classed as either hard or very hard. Water hardness is a natural feature and is a result of the geology of...
										</p>
										<a href="#"><span>Find out More </span><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg></a>
									</div>
									<div class="portlet__icon">
										<svg>
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#drop"></use>
										</svg>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

</div>

{{> footer}}