{{> head}}

{{> flyout-nav}}
<div id="my-wrapper" class="page-wrapper">
	{{> svg}}
	{{> header}}
	{{> alert}}
	{{> hero}}

	<section id="main-content" class="main-section">
		<div class="main--container">
			<div class="page-sidebar">
				<div class="portlet portlet-account portlet-main portlet-blue-green">
					<div class="portlet__container">
						<div class="portlet__content">
							<h3 class="portlet__title">About Your Water</h3>
							<ul>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Home</a></li>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Latest Announcment</a></li>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Ask A Question</a></li>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Report A Leak/Problem</a></li>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Contact</a></li>
							</ul>
						</div>
					</div>
				</div>
				<a href="#" class="portlet portlet-pink">
					<div class="portlet__container">
						<div class="portlet__content">
							<h3 class="portlet__title">Report a problem</h3>
						</div>
						<div class="portlet__icon">
							<svg>
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#alert"></use>
							</svg>
						</div>
					</div>
				</a>
				<a href="#" class="portlet portlet-blue">
					<div class="portlet__container">
						<div class="portlet__content">
							<h3 class="portlet__title">Ask a questions</h3>
						</div>
						<div class="portlet__icon">
							<svg>
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#quotes"></use>
							</svg>
						</div>
					</div>
				</a>
				<a href="#" class="portlet portlet-moving portlet-orange">
					<div class="portlet__container">
						<div class="portlet__content">
							<h3 class="portlet__title">Moving home?</h3>
							<p class="portlet__description">
								Moving house? You can inform us of a change of address online
								<svg>
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use>
								</svg>
							</p>
						</div>
						<div class="portlet__icon">
							<svg>
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
							</svg>
						</div>
					</div>
				</a>
			</div>
			<div class="page-content">
				<div class="content__body">
					<div class="main__content">
						<div class="portlet-group">
							<div class="portlet portlet-bill portlet-blue-green">
								<div class="portlet__container">
									<div class="portlet__content">
										<h2 class="portlet__title">Paying your bill</h2>
										<p class="portlet__description">
											There are several ways you can pay your bill to County Water.
										</p>
									</div>
								</div>
							</div>
							<div class="portlet portlet-bill portlet-green">
								<div class="portlet__container">
									<div class="portlet__content">
										<h3 class="portlet__title"><a href="#">Register for an online account <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg></a></h3>
									</div>
									<div class="portlet__icon">
										<svg>
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#add"></use>
										</svg>
									</div>
								</div>
								<hr />
								<div class="portlet__container">
									<div class="portlet__content">
										<h4 class="portlet__title"><a href="#">Already signed up?<br /><span class="font-bold-underline">Log in here </span></a><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg></h4>
									</div>
									<div class="portlet__icon">
										<svg>
											<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#users-circle"></use>
										</svg>
									</div>
								</div>
							</div>
						</div>
						<div class="portlet portlet-main-content">
							<div class="portlet__container">
								<div class="portlet__content">
									<h2>Internet/Telephone banking</h2>
									<p>Make a payment to us using your internet/telephone banking system. Our bank details are on the back of your bill or you can contact our Customer Service Team. Please allow 5 working days for your payment to reach us.</p>
								</div>
							</div>
						</div>
						<div class="portlet portlet-main-content">
							<div class="portlet__container">
								<div class="portlet__content">
									<h2>Check by post</h2>
									<p>Cheques must be made payable to County Water Ltd and you must include your name and customer reference number on the reverse (for example KALB00101).</p>
									<p>Please complete the payment slip on your bill and return in the freepost envelope provided or send your cheque to:</p>
									<p>County Water Ltd, xxxxxxx, xxxxxxxxx, xxxxxxxx, xxxxxx, xxx xxx</p>
									<p>Please note that we do not accept post dated cheques. Please do not send cash through the post.</p>
								</div>
							</div>
						</div>
						<div class="portlet portlet-main-content">
							<div class="portlet__container">
								<div class="portlet__content">
									<h2>Credit/Debit card</h2>
									<p>Call us on 01234 567 890 to make a payment by Credit or Debit Card.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>

{{> footer}}