{{> head}}

{{> flyout-nav}}
<div id="my-wrapper" class="page-wrapper">
	{{> svg}}
	{{> header}}
	{{> alert}}

	<section id="main-content" class="main-section">
		<div class="main--container">
			<div class="page-sidebar">
				<div class="portlet portlet-account portlet-main portlet-blue-dark">
					<div class="portlet__container">
						<div class="portlet__content">
							<h3 class="portlet__title">Business</h3>
							<ul>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Sustainability</a></li>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Our Services</a></li>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Working With Us</a></li>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Contact/Enquiry</a></li>
							</ul>
						</div>
					</div>
				</div>
				<a href="#" class="portlet portlet-small portlet-pink">
					<div class="portlet__container">
						<div class="portlet__content">
							<h3 class="portlet__title">Report a problem</h3>
						</div>
						<div class="portlet__icon">
							<svg>
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#alert"></use>
							</svg>
						</div>
					</div>
				</a>
				<a href="#" class="portlet portlet-small portlet-blue">
					<div class="portlet__container">
						<div class="portlet__content">
							<h3 class="portlet__title">Ask a questions</h3>
						</div>
						<div class="portlet__icon">
							<svg>
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#quotes"></use>
							</svg>
						</div>
					</div>
				</a>
			</div>
			<div class="page-content">
				<div class="content__image">
					<div class="ratio--16-9">
						<img src="/resources/imgs/tmp-image-large.jpg" alt="placeholder"/>
					</div>
				</div>
				<div class="content__body">
					<div class="main__content">
						<div class="portlet portlet-main-content">
							<div class="portlet__container">
								<div class="portlet__content">
									<h2>Sustainability</h2>
									<h4>There is a perception that development growth brings a negative impact to the surrounding environment. The services offered by us can create a positive impact on the local biodiversity of your project, with the added benefit of increased house prices in areas where there is access to diverse green spaces.</h4>
									<p>The rich environments in which your customers live fosters well being and stimulates good health, developments with green spaces and improved biodiversity become desirable locations, generating civic pride and increased local and community investment.</p>
									<p>With the growth plans proposed for the UK over the next 20 years, there is now an opportunity to ensure that biodiversity becomes an integral part of the development and planning process and proposals. With our knowledge and experience of water and waste water, managing green space, building wetlands and sustainable habitats, tailored to the biodiversity of each site we can help you meet the intense pressure placed on you through sustainability requirements.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</div>

{{> footer}}