{{> head}}

{{> flyout-nav}}
<div id="my-wrapper" class="page-wrapper">
	{{> svg}}
	{{> header}}
	{{> alert}}
	{{> hero}}

	<section id="main-content" class="main-section">
		<div class="main--container">
			<div class="page-sidebar">
				<div class="portlet portlet-account portlet-main portlet-blue-green">
					<div class="portlet__container">
						<div class="portlet__content">
							<h3 class="portlet__title">About Your Water</h3>
							<ul>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Home</a></li>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Latest Announcment</a></li>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Ask A Question</a></li>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Report A Leak/Problem</a></li>
								<li><a href="#"><svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use></svg>Contact</a></li>
							</ul>
						</div>
					</div>
				</div>
				<a href="#"class="portlet portlet-pink">
					<div class="portlet__container">
						<div class="portlet__content">
							<h3 class="portlet__title">Report a problem</h3>
						</div>
						<div class="portlet__icon">
							<svg>
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#alert"></use>
							</svg>
						</div>
					</div>
				</a>
				<a href="#"class="portlet portlet-blue">
					<div class="portlet__container">
						<div class="portlet__content">
							<h3 class="portlet__title">Ask a questions</h3>
						</div>
						<div class="portlet__icon">
							<svg>
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#quotes"></use>
							</svg>
						</div>
					</div>
				</a>
				<a href="#"class="portlet portlet-moving portlet-orange">
					<div class="portlet__container">
						<div class="portlet__content">
							<h3 class="portlet__title">Moving home?</h3>
							<p class="portlet__description">
								Moving house? You can inform us of a change of address online
								<svg>
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use>
								</svg>
							</p>
						</div>
						<div class="portlet__icon">
							<svg>
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
							</svg>
						</div>
					</div>
				</a>
			</div>
			<div class="page-content">
				<div class="content__image">
					<div class="ratio--16-9">
						<img src="/resources/imgs/tmp-image-large.jpg" alt="placeholder"/>
					</div>
				</div>
				<div class="content__body">
					<div class="main__content">

						<div class="portlet portlet-faq-head portlet-main-content">
							<div class="portlet__container">
								<div class="portlet__content">
									<h2 class="portlet__title">FAQ'S</h2>
								</div>
								<div class="portlet__icon">
									<svg>
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#quotes"></use>
									</svg>
								</div>
							</div>
						</div>

						<div class="portlet portlet-faq portlet-main-content isActive">
							<div class="portlet__container">
								<div class="portlet__content">
									<h3 class="portlet__title">I'm moving house soon, what do I have to do?</h3>
									<div class="portlet__answer">
										<p>In this section you will find all you need to know about your bill.  It includes details of our charges, and all the ways that you can make a payment to us.</p>
										<p>You can receive your bill on line if you would prefer, and you can also make payments from this website. To navigate around, please choose a section from the list to the left of this page.</p>
									</div>
								</div>
								<div class="portlet__icon">
									<svg>
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use>
									</svg>
								</div>
							</div>
						</div>

						<div class="portlet portlet-faq portlet-main-content">
							<div class="portlet__container">
								<div class="portlet__content">
									<h3 class="portlet__title">What should I do if I have a leak?</h3>
									<div class="portlet__answer">
										<p>In this section you will find all you need to know about your bill.  It includes details of our charges, and all the ways that you can make a payment to us.</p>
									</div>
								</div>
								<div class="portlet__icon">
									<svg>
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use>
									</svg>
								</div>
							</div>
						</div>

						<div class="portlet portlet-faq portlet-main-content">
							<div class="portlet__container">
								<div class="portlet__content">
									<h3 class="portlet__title">I'm moving house soon, what do I have to do?</h3>
									<div class="portlet__answer">
										<p>In this section you will find all you need to know about your bill.  It includes details of our charges, and all the ways that you can make a payment to us.</p>
										<p>You can receive your bill on line if you would prefer, and you can also make payments from this website. To navigate around, please choose a section from the list to the left of this page.</p>
									</div>
								</div>
								<div class="portlet__icon">
									<svg>
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use>
									</svg>
								</div>
							</div>
						</div>

						<div class="portlet portlet-faq portlet-main-content">
							<div class="portlet__container">
								<div class="portlet__content">
									<h3 class="portlet__title">What should I do if I have a leak?</h3>
									<div class="portlet__answer">
										<p>In this section you will find all you need to know about your bill.  It includes details of our charges, and all the ways that you can make a payment to us.</p>
									</div>
								</div>
								<div class="portlet__icon">
									<svg>
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use>
									</svg>
								</div>
							</div>
						</div>

						<div class="portlet portlet-faq portlet-main-content">
							<div class="portlet__container">
								<div class="portlet__content">
									<h3 class="portlet__title">I'm moving house soon, what do I have to do?</h3>
									<div class="portlet__answer">
										<p>In this section you will find all you need to know about your bill.  It includes details of our charges, and all the ways that you can make a payment to us.</p>
										<p>You can receive your bill on line if you would prefer, and you can also make payments from this website. To navigate around, please choose a section from the list to the left of this page.</p>
									</div>
								</div>
								<div class="portlet__icon">
									<svg>
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use>
									</svg>
								</div>
							</div>
						</div>

						<div class="portlet portlet-faq portlet-main-content">
							<div class="portlet__container">
								<div class="portlet__content">
									<h3 class="portlet__title">What should I do if I have a leak?</h3>
									<div class="portlet__answer">
										<p>In this section you will find all you need to know about your bill.  It includes details of our charges, and all the ways that you can make a payment to us.</p>
									</div>
								</div>
								<div class="portlet__icon">
									<svg>
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use>
									</svg>
								</div>
							</div>
						</div>

						<div class="portlet portlet-faq portlet-main-content">
							<div class="portlet__container">
								<div class="portlet__content">
									<h3 class="portlet__title">I'm moving house soon, what do I have to do?</h3>
									<div class="portlet__answer">
										<p>In this section you will find all you need to know about your bill.  It includes details of our charges, and all the ways that you can make a payment to us.</p>
										<p>You can receive your bill on line if you would prefer, and you can also make payments from this website. To navigate around, please choose a section from the list to the left of this page.</p>
									</div>
								</div>
								<div class="portlet__icon">
									<svg>
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use>
									</svg>
								</div>
							</div>
						</div>

						<div class="portlet portlet-faq portlet-main-content">
							<div class="portlet__container">
								<div class="portlet__content">
									<h3 class="portlet__title">What should I do if I have a leak?</h3>
									<div class="portlet__answer">
										<p>In this section you will find all you need to know about your bill.  It includes details of our charges, and all the ways that you can make a payment to us.</p>
									</div>
								</div>
								<div class="portlet__icon">
									<svg>
										<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use>
									</svg>
								</div>
							</div>
						</div>


					</div>
				</div>
			</div>
		</div>
	</section>

</div>

{{> footer}}