{{> head}}

{{> flyout-nav}}
<div id="my-wrapper" class="page-wrapper">
	{{> svg}}
	{{> header}}
	{{> alert}}
	{{> hero}}

	<section id="page-portlets" class="portlets">
		<div class="portlets--container">
			<div class="portlet-group">
				<a href="#" class="portlet portlet-account portlet-main portlet-green">
					<div class="portlet__container">
						<div class="portlet__content">
							<h3 class="portlet__title">Your Account</h3>
							<p class="portlet__description">
								Login to view your account, pay a bill or amened your details.
								<svg class="hide-min-sm">
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use>
								</svg>
							</p>
						</div>
						<div class="portlet__icon">
							<svg>
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#users-circle"></use>
							</svg>
						</div>
					</div>
				</a>
				<a href="#" class="portlet portlet-small portlet-green">
					<div class="portlet__container">
						<div class="portlet__content">
							<h3 class="portlet__title">Register For An Account</h3>
						</div>
						<div class="portlet__icon">
							<svg>
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use>
							</svg>
						</div>
					</div>
				</a>
			</div>
			<div class="portlet-group">
				<a href="#" class="portlet portlet-report portlet-main  portlet-pink">
					<div class="portlet__container">
						<div class="portlet__content">
							<h3 class="portlet__title">Report a leak/problem</h3>
							<p class="portlet__description">
								Use our online form
								<svg>
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use>
								</svg>
							</p>
						</div>
						<div class="portlet__icon">
							<svg>
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#alert"></use>
							</svg>
						</div>
					</div>
				</a>
				<a href="#" class="portlet portlet-small  portlet-blue">
					<div class="portlet__container">
						<div class="portlet__content">
							<h3 class="portlet__title">Ask a question</h3>
						</div>
						<div class="portlet__icon">
							<svg>
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#quotes"></use>
							</svg>
						</div>
					</div>
				</a>
			</div>
			<div class="portlet-group">
				<a href="#" class="portlet portlet-meter portlet-main portlet-blue-dark">
					<div class="portlet__container">
						<div class="portlet__content">
							<h3 class="portlet__title">Reading Your Meter</h3>
							<p class="portlet__description">
								Submit a meter reading or find help on how to read your meter?
								<svg>
									<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#arrows-bold-right"></use>
								</svg>
							</p>
						</div>
						<div class="portlet__icon">
							<svg>
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#meter"></use>
							</svg>
						</div>
					</div>
				</a>
				<a href="#" class="portlet portlet-small portlet-orange">
					<div class="portlet__container">
						<div class="portlet__content">
							<h3 class="portlet__title">Moving Home?</h3>
						</div>
						<div class="portlet__icon">
							<svg>
								<use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#home"></use>
							</svg>
						</div>
					</div>
				</a>
			</div>
		</div>
	</section>

</div>

{{> footer}}