<header id="header" class="header">
    <div class="header--container">
        <div class="header__btn--call">
            <a href="#">
                <svg>
                    <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#phone-call"></use>
                </svg>
            </a>
        </div>
        <div class="header__brand"><img src="./resources/imgs/county-water-logo-01.svg" alt="County Water"></div>
        <div class="header__nav">
            <div class="header__nav--top">
                <h3 class="contact--nav">Customer Services  01234 567 8901</h3>
                <div class="top__nav--toggle">
                    <button class="btn btn-toggle btn-toggle-business">Business</button>
                    <button class="btn btn-toggle btn-toggle-consumers">Consumers</button>
                </div>
            </div>
            <div class="header__nav--main">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Your Account</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
                <div class="header__nav--menu">
                    <a href="#">
                        <svg>
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#menu-bold"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>
